spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/banco_digimonOnline
    username: admin
    password: admin123
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate.dialect: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: true
    locations: classpath:db/migration

jwt:
  secret: 1234567890abcdefghijklmnopqrstuv987654321
  expiration: 86400000 # 24h